@import 'overrides'
@import 'nib/index'
@import 'bootstrap/bootstrap'
//= require normalize

hypblue = #348AF8
backgroundblue = #73AED8

body
  @extends .container
  /* background linear-gradient(top, #ccc, #fff) */

h1
  font-size 34px

header
  @extends .row
  h1
    @extends .col-sm-6
    font-family Open Sans Condensed
    display inline-block
    color hypblue

  .start-here
    @extends .col-sm-3
    button
      @extends .btn-success
      font-size 22px
      margin-top 10px
      a
        color white
        text-decoration none

  .phone
    @extends .col-sm-3
    display inline-block
    float right
    word-break break-word
    word-wrap break-word
    text-align right
    font-size 22px
    font-weight 500
    min-width 270px
    width 20%
    margin-top 10px

main
  @extends .row

.main-content
  @extends .col-sm-8
  h2
    //font-family Merriweather Sans
    font-size 24px
  section
    margin-top 40px
    &:first-of-type
      margin-top 0

.side-panel
  @extends .col-sm-4
  background #f8f8f8
  h1
    //font-family Merriweather Sans
    font-size 26px
  section
    margin-top 40px
    &:first-of-type
      margin-top 0

.tips
  @extends .row
  img
    width 110px
    height auto
  .col-sm-10
    h3
      margin-top 0
      font-size 28px
    //font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

input[type='submit'], button
  @extends .btn

input[type='submit'], button[type='submit']
  @extends .btn-primary
  //margin-left 5px

button.green
  @extends .btn-success
  font-size 24px
  padding 12px 24px

nav
  width 100%
  @extends .navbar
  @extends .navbar-default
  ul:first-of-type
    @extends .nav
    @extends .navbar-left
    li > a
      padding 14px 15px
  ul:nth-of-type(2)
    @extends .nav
    @extends .navbar-right
    li > a
      padding 14px 15px

  font-family Open Sans Condensed
  font-size 24px
  color rgb(27, 48, 159)

.scoop
  img
    height auto
  form.form-inline
    input
      width 100%

.location
  @extends .row

  .location-img
    @extends .col-sm-4
    font-size small
    img
      margin-top 10px
      height: auto
  .location-text
    @extends .col-sm-8
    h1
      margin-top 0

.contact
  @extends .row
  .text
    @extends .col-sm-9
    h1
      margin-top 0
  .img
    @extends .col-sm-3
    img
      width 65px
      height auto

form.email-form
  margin-top 15px
  input[type='submit']
    margin-left: 0

.robbie-img
  img
    width: 200px
    height: auto
    //margin-top 24px
    //margin-right 5px
    //margin-bottom 24px
  font-size small
  float left

blockquote
  border none
  padding 5px
  margin 0
  p
    &:before, &:after
      content: '"'

p.h-card
  .p-street-address, .p-postal-code, .p-country-name
    display: block
  .p-locality:after
    content: ', '
  .p-country-name
    margin-bottom: 5px
  .fa
    margin-right: 7px
  .p-tel:after
    content: ''
    display: block

p.map
  @extends .text-center
  a
    display: block
    @extends .text-center

input
  @extends .form-control

textarea
  @extends .form-control
  height 6em

body > footer
    @extends .row
    margin-top 30px
    .disclaimers
      border-top-left-radius 5px
      border-top-right-radius 5px
      background linear-gradient(top, lighten(hypblue, 80%), lighten(hypblue, 60%))
      font-size small
      padding 10px 20px
