blockquote
  p The training permitted me to develop the personal confidence and capabilities to help clients in a very proficient manner. As a second degree black belt to effect changes in my students it took 6 months. Now I can get the same results in just a few weeks.
  footer
    cite Willis Y.
